{% with ids="test" %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <div class="container ">
			<h3 class="text-danger"><font size="5"><strong>Menu</strong></font></h3>
			<br>
      
      <ul class="nav navbar-nav">
        <!-- <li><a class="navbar-link" href="{% url 'foodcourt:index' %}">Home</a></li> -->
         <li><a class="navbar-link" href="http://127.0.0.1:8000/order/{{name_id}}">order</a></li>
				<table class="table table-hover table-bordered">
					<thead>
              <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Price</th>
              <th>Add to Orders</th>
              </tr>
              
					</thead>
          {% for item in food_items %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><input type="checkbox" id={{item.id}} name={{item.name}} value={{item.isactive}}>
              
            
<label for={{item.name}}> {{item.name}}</label><br></td>
            </tr>
            {% endfor %}
       </table>   
        <form action="/myorder/{{ids}}">
       <button type="submit">click</button>
       </form>
      
    </div>

  </body>
</html>
{% endwith %}