<!DOCTYPE html>
<html>
<body>

<h2>Text input fields</h2>

<form action="foodcourt/order/{{name_id}}/" method="post"></form>
  <label for="fname">Name:</label><br>
  <input type="text" id="fname" name="fname" value="{{username}}"><br>
  <label for="fitem">food item:</label><br>
  
  <select name="fooditem" id="items" multiple>
    {% for name in name_obj %}
    <option value="{{name.name}}" name="sfooditem">{{name.name}}</option>
    {% endfor %}
  </select>
  <input type="text" value="{{totalprice}}">
</form>
</body>
</html>
